{% set exercise = 2 %}
{% set solution = true %}
{% extends "views/exercises/exercise-" + exercise + ".html" %}

{% block introduction %}
    {{ super() }}
	<p><strong>Solution:
		Use <code>&lt;link rel="preload" href="/assets/fonts/raleway-extrabold-webfont.woff2"
		as="font" type="font/woff2" crossorigin"&gt;</code>
		(<a href="https://medium.com/reloading/preload-prefetch-and-priorities-in-chrome-776165961bbf#9f33">Info on loading fonts with <code>crossorigin</code></a>).
	</strong></p>
{% endblock %}

{% block head %}
    {{ super() }}
	<link rel="preload" href="/assets/fonts/raleway-extrabold-webfont.woff2"
		as="font" type="font/woff2" crossorigin>
{% endblock %}
